/* @keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
h1 {
  animation: blink 2s infinite;
  text-align: center;
  color: red;
} */

h1 {
  text-align: center;
  color: red;
}
